<%-include ("partials/header")-%>

	<h1>GUESS
		<br><span id="colour">RGB</span> 
		</br></h1>
	<div id="strip">
		<button id="reset" style="outline: none;">New Colors</button>
		<span id="msg"></span>
		<button id="Easy" style="outline: none;">Easy</button>
		<button id="Hard" class="selected" style="outline: none;">Hard</button>
	</div>
	<div id="container">
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
        <div class="square"></div>
	</div>
    <div>
        <p id="name">created by : ARNAV ARYAN & DEEPAK KUMAR MEENA</p>
    </div>
<%-include ("partials/footer")-%>