<!DOCTYPE html>
<html>
    <head>
        <title>RGB GAME</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body style="font-family: 'Grandstander', cursive;">
     
    <div id="landing-header">
 		<h1><div>Welcome to</div><i class="fas fa-palette"></i><i class="fas fa-paint-brush"></i>  <span id="R">R</span><span id="G">G</span><span id="B">B</span><div>GAME</div></h1>
		<a href="/game" class="btn btn-lg btn-success">PLAY</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%-include ("partials/footer.ejs")-%>